{% extends "train/base.html" %}

{% block body %}
<h1>
    Train {{ train.id }}
</h1>

<ul>
    <li>Origin is {{ train.origin }}</li>
    <li>Destination is {{ train.destination }}</li>
    <li>Time consumed is {{ train.duration }}</li>
</ul>

<h2>Passengers travelling in this train</h2>
<ul>
    {% for passenger in passengers %}
    <li>
        {{ passenger }}
    </li>
    {% empty %}
    No passengers found.

    {% endfor %}
</ul>

<h2>Passengers not travelling in this train</h2>
<ul>
    {% for passenger_not in passengers_not %}
    <li>
        {{ passenger_not }}
    </li>
    {% empty %}
    No passengers found.

    {% endfor %}
</ul>




<a href="{% url 'index' %}">Take me back to the home page</a>

{% endblock %}